@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Titillium+Web:wght@300&display=swap');
body{
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
}
*{
	margin: 0px;
	padding: 0px;
}
#banner{
	position: relative;
	background-image: url('../assets/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 50vh;
}
#banner span{
	position: absolute;
	background: linear-gradient(400deg, #0000, #ff0080);
	opacity: .8;
	width: 100%;
	height: 100%;
}
#banner .texto{
	z-index: 2;
}
#banner .titulo{
	font-size: 3rem;
	font-weight: 700;
}
#content img{
	max-width: 700px;
}
.contacto{
	text-decoration: none;
}
.contacto:hover{
	text-decoration: underline;
}
.mail{
	width: 15vh;
	height: 15vh;
	max-width: 15vh;
	max-height: 15vh;
}